.ui.borderless.topmenu.menu{
  background-color: white;
  box-shadow: none;
  border:none;
  padding-top: 20px;
  padding-bottom: 20px;
}

.mainpage {
  background: url("http://murphyshawaii.com/media/2014/04/murphys-front.jpg") no-repeat center fixed;
  background-size: cover;
  height: 600px;
  color:white !important;
}

.footer-background {
  background-color: #024131;
  padding-top: 30px;
  padding-bottom: 45px;
  color: white;
  font-weight: inherit;
}

.footer-background2 {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 40px;
  color: slategrey;
}